body{margin: 0px;
    background-color:whitesmoke;}
  
  header{
  width: 100%;  
  position: fixed;
  top: 0px;
  bottom: 20px;
  background-color: black; 
  height: 70px;
  margin-bottom: 10px;
  border: rgb(168, 45, 45);
  }
header img{
padding: 10px;     
float:right;
width: 100px;
height: 50px;
}
  header nav {float: left;
  }
  
  header nav ul li { 
      display: inline-block;
      padding: 10px;
      padding-right:40px ;
     
  }
  header nav ul li a{ 
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  a:hover{
  color: antiquewhite;
  
  }  
main img{
  width: 500px;
  height: 300px;
}
.style-image{
  display:flex;
  flex-wrap: wrap;
 
  gap: 30px;
  margin: 20px;
}
form{
  
  margin: 10px;
  text-align: center;
  align-items: center;
  display: flex;
}
fieldset{
  border-color: black;
  width:50%;
  padding: 10px;
  border-style: inset;
}
input[type=text]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
}
label {
  width: 30%;
  text-align: right;
  display: inline-block;
}
button{
  width: 100px;
  margin: 10px;
  padding: 5px ;
  background-color: black;
  color: white;
  cursor: pointer;
}
