body{margin: 0px;
    background-color:whitesmoke;}
  
  header{
  width: 100%;  
  position: fixed;
  top: 0px;
  bottom: 20px;
  background-color: black; 
  height: 70px;
  margin-bottom: 10px;
  border: rgb(168, 45, 45);
  }
header img{
padding: 10px;     
float:right;
width: 100px;
height: 50px;
}
  header nav {float: left;
  }
  
  header nav ul li { 
      display: inline-block;
      padding: 10px;
      padding-right:40px ;
     
  }
  header nav ul li a{ 
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  a:hover{
  color: antiquewhite;
  
  }  
table{

border: 1px solid black;
border-collapse: collapse;
}
 th, td{
  text-align: center;  
  width:200px;
  border: 1px solid black;
  border-collapse: collapse;
}
    